@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
/*index*/
/*menu la palette*/
/*menu le delice*/
/*menu la note*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #3da087;
  border-bottom: #97c67b solid 2px;
}
header a {
  font-family: "Padauk", sans-serif;
  color: #ffce00;
  font-size: 50px;
  letter-spacing: -0.05em;
}

footer {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #3da087;
  left: 0;
  bottom: 0;
  border-top: #97c67b solid 2px;
  font-size: 20px;
}
footer a {
  font-family: "Montserrat", sans-serif;
  color: #ffce00;
  margin-left: 20px;
  margin-right: 20px;
  margin: 1%;
}
footer a:hover {
  animation: wiggle 1s;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 350px) {
  footer {
    font-size: 15px;
  }
}
.mentions_container {
  text-align: center;
  font-family: "Patrick Hand";
  padding-bottom: 4em;
}
.mentions_container h1, .mentions_container h2 {
  color: #ffce00;
}
.mentions_container p {
  padding: 1rem;
  margin: 0;
}

body {
  margin: 0;
}

#menu_la-note {
  max-width: 851px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 3% 10% 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #fadbd6;
  color: #410d16;
  font-family: "Kalam", cursive;
}
#menu_la-note p {
  font-size: 20px;
}
#menu_la-note .trait {
  width: 300px;
}
#menu_la-note h3 {
  font-size: 25px;
}

.title_la-note {
  text-align: center;
  font-size: 25px;
  font-family: "Devonshire", cursive;
  padding-top: 3em;
}
.title_la-note img {
  width: 120px;
  height: 100px;
}
.title_la-note h2 {
  margin: 0;
  font-size: 60px;
}

._underline_la-note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._underline_la-note ._anim-line-la-note {
  font-weight: bold;
  background: linear-gradient(to top, #000000 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
  font-size: 25px;
}
._underline_la-note ._anim-line-la-note:hover {
  background-size: 100% 100%;
}

.meal_la-note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 64px;
}
.meal_la-note ._price {
  font-weight: bold;
}

.title_la-note-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.title_la-note-bottom img {
  width: 80px;
  height: 60px;
}
.title_la-note-bottom h4 {
  font-size: 45px;
  font-family: "Devonshire", cursive;
}

@media screen and (max-width: 857px) {
  #menu_la-note {
    max-width: 500px;
  }
  #menu_la-note .trait {
    width: 150px;
  }

  .title_la-note {
    font-size: 15px;
  }
  .title_la-note img {
    width: 80px;
    height: 60px;
  }
  .title_la-note h2 {
    font-size: 40px;
  }

  .title_la-note-bottom img {
    width: 80px;
    height: 60px;
  }
  .title_la-note-bottom h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #menu_la-note {
    max-width: 300px;
    margin-bottom: 15%;
  }
  #menu_la-note p {
    font-size: 12px;
    margin-top: 0;
  }
  #menu_la-note .trait {
    width: 80px;
  }
  #menu_la-note h3 {
    font-size: 15px;
  }

  .title_la-note {
    font-size: 10px;
  }
  .title_la-note img {
    width: 60px;
    height: 40px;
  }
  .title_la-note h2 {
    font-size: 30px;
  }

  .meal_la-note {
    flex-direction: column;
    text-align: center;
  }

  .title_la-note-bottom img {
    width: 50px;
    height: 30px;
  }
  .title_la-note-bottom h4 {
    font-size: 20px;
  }
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.menus {
  padding-top: 5%;
}
.menus .ligne1, .menus .ligne2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus .menu_content {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
  box-shadow: 0px 0px 8px 6px #e8e8e8;
}
.menus .transforme_menu {
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-delay: 600ms;
  transition-timing-function: linear;
}
.menus .transforme_menu:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.menu_lanote {
  background-color: #fadbd6;
  color: #410d16;
  margin-right: 40px;
}
.menu_lanote .fas, .menu_lanote .fa-music {
  width: 50px;
  height: 50px;
  font-size: 40px;
  background: linear-gradient(to right, #ff3453 0%, #ff8c5b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_lanote h2 {
  font-family: "Devonshire", cursive;
  margin: 0;
  font-size: 30px;
}
.menu_lanote h3 {
  font-family: "Itim", cursive;
  font-style: italic;
  font-size: 2em;
}

.menu_lechic {
  background-color: #fff4fe;
}
.menu_lechic h2 {
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #c77529 0%, #8f5bfe 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.menu_lechic h3 {
  font-family: "Playfair Display", serif;
  color: #d17200;
  letter-spacing: 0.1em;
  font-size: 2em;
  margin-top: 0;
}

.menu_ledelice {
  background-color: #f9f9f9;
  margin-right: 40px;
}
.menu_ledelice h2 {
  font-family: "Parisienne", cursive;
  background: linear-gradient(to right, #0431df 0%, #0887fb 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.menu_ledelice h3 {
  font-family: "Patrick Hand", cursive;
  color: #007cff;
  font-style: italic;
  font-size: 2em;
  margin-top: 0;
}

.menu_lapalette {
  background-color: #FDFFFD;
}
.menu_lapalette h2 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #3d9339 0%, #c0fd87 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.menu_lapalette h3 {
  font-family: "Patrick Hand", cursive;
  color: #52c749;
  font-style: italic;
  font-size: 2em;
  margin-top: 0;
}

.prochainement {
  display: flex;
  justify-content: center;
  padding-bottom: 7%;
}
.prochainement .prochainement_box {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px 40px;
  background-color: #3da087;
  color: #ffce00;
  border-radius: 15px;
  font-size: 24px;
}
.prochainement .prochainement_box span {
  animation: apparition 1.5s infinite;
}
.prochainement .prochainement_box :nth-child(2) {
  animation-delay: 0.3s;
}
.prochainement .prochainement_box :nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .ligne1, .ligne2 {
    display: flex;
    flex-direction: column;
  }

  .menu_lanote {
    margin-right: 0;
  }

  .menu_ledelice {
    margin-right: 0;
  }

  .prochainement {
    padding-bottom: 15%;
  }
  .prochainement .point {
    font-size: 18px;
  }

  .link {
    margin-right: 0;
  }
}
body {
  margin: 0;
}

#menu_le-chic {
  max-width: 851px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 3% 10% 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  max-width: 835px;
  background-color: #FFF4FE;
  font-family: "Playfair Display", serif;
}
#menu_le-chic .trait {
  width: 250px;
}
#menu_le-chic p {
  font-size: 20px;
}

.title_le-chic {
  text-align: center;
  font-size: 30px;
  font-family: "Croissant One", cursive;
  padding: 10% 0;
  background: linear-gradient(to right, #c77529 0%, #8f5bfe 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._underline_le-chic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.meal_le-chic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 64px;
}

#starter_lechic {
  color: #c77529;
  padding-bottom: 8%;
}
#starter_lechic ._anim-line-le-chic {
  font-weight: normal;
  background: linear-gradient(to top, #c77529 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
#starter_lechic ._anim-line-le-chic:hover {
  background-size: 100% 100%;
}

#dish_lechic {
  color: #AF5D9B;
  padding-bottom: 8%;
}
#dish_lechic ._anim-line-le-chic {
  font-weight: normal;
  background: linear-gradient(to top, #AF5D9B 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
#dish_lechic ._anim-line-le-chic:hover {
  background-size: 100% 100%;
}

#dessert_lechic {
  color: #7930D3;
}
#dessert_lechic ._anim-line-le-chic {
  font-weight: normal;
  background: linear-gradient(to top, #7930D3 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
#dessert_lechic ._anim-line-le-chic:hover {
  background-size: 100% 100%;
}

@media screen and (max-width: 925px) {
  #menu_le-chic {
    max-width: 500px;
  }
  #menu_le-chic p {
    font-size: 14px;
  }
  #menu_le-chic .trait {
    width: 150px;
  }
  #menu_le-chic h2 {
    font-size: 35px;
  }
  #menu_le-chic h3 {
    font-size: 17px;
  }

  .meal_le-chic {
    margin: 0;
  }
}
@media screen and (max-width: 535px) {
  #menu_le-chic {
    max-width: 300px;
    margin-bottom: 15%;
  }
  #menu_le-chic p {
    font-size: 10px;
    margin-top: 0;
  }
  #menu_le-chic .trait {
    width: 80px;
  }
  #menu_le-chic h2 {
    font-size: 25px;
  }
  #menu_le-chic h3 {
    font-size: 12px;
  }

  .meal_le-chic {
    flex-direction: column;
    text-align: center;
  }
}
body {
  margin: 0;
}

#menu_le-delice {
  max-width: 851px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 3% 10% 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #f9f9f9;
  font-family: "Kalam", cursive;
}
#menu_le-delice p {
  font-size: 18px;
}
#menu_le-delice .trait {
  width: 300px;
}

.title_le-delice {
  text-align: center;
  font-size: 45px;
  font-family: "Parisienne", cursive;
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._underline_le-delice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._underline_le-delice ._anim-line-le-delice {
  font-weight: normal;
  background: linear-gradient(to top, #0887fb 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
._underline_le-delice ._anim-line-le-delice:hover {
  background-size: 100% 100%;
}

.meal_le-delice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 64px;
}

@media only screen and (max-width: 925px) {
  #menu_le-delice {
    max-width: 500px;
  }
  #menu_le-delice p {
    font-size: 14px;
  }
  #menu_le-delice .trait {
    width: 150px;
  }
  #menu_le-delice h2 {
    font-size: 35px;
  }
  #menu_le-delice h3 {
    font-size: 17px;
  }

  .meal_le-delice {
    margin: 0;
  }
}
@media only screen and (max-width: 535px) {
  #menu_le-delice {
    max-width: 300px;
    margin-bottom: 15%;
  }
  #menu_le-delice p {
    font-size: 10px;
    margin-top: 0;
  }
  #menu_le-delice .trait {
    width: 80px;
  }
  #menu_le-delice h2 {
    font-size: 25px;
  }
  #menu_le-delice h3 {
    font-size: 12px;
  }

  .meal_le-delice {
    flex-direction: column;
    text-align: center;
  }
}
body {
  margin: 0;
}

#menu_la-palette {
  max-width: 851px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 3% 10% 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #FDFFFD;
  font-family: "Kalam", cursive;
  box-shadow: 0px 0px 8px 6px #e8e8e8;
}
#menu_la-palette .trait {
  width: 300px;
}
#menu_la-palette h2 {
  font-size: 60px;
  font-weight: normal;
}
#menu_la-palette h3 {
  font-size: 25px;
}

.title_la-palette {
  text-align: center;
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #3d9339 0%, #c0fd87 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._underline_la-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._underline_la-palette ._anim-line-la-palette {
  font-weight: normal;
  background: linear-gradient(to top, #3d9339 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}
._underline_la-palette ._anim-line-la-palette:hover {
  background-size: 100% 100%;
}

.meal_la-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 64px;
}

@media only screen and (max-width: 925px) {
  #menu_la-palette {
    max-width: 500px;
  }
  #menu_la-palette p {
    font-size: 14px;
  }
  #menu_la-palette .trait {
    width: 150px;
  }
  #menu_la-palette h2 {
    font-size: 35px;
  }
  #menu_la-palette h3 {
    font-size: 17px;
  }

  .meal_la-palette {
    margin: 0;
  }
}
@media only screen and (max-width: 535px) {
  #menu_la-palette {
    max-width: 300px;
    margin-bottom: 15%;
  }
  #menu_la-palette p {
    font-size: 10px;
    margin-top: 0;
  }
  #menu_la-palette .trait {
    width: 80px;
  }
  #menu_la-palette h2 {
    font-size: 25px;
  }
  #menu_la-palette h3 {
    font-size: 12px;
  }

  .meal_la-palette {
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
