body {
    margin: $margin;
}

#menu_la-note {
    @include menus;
    background-color: $background-note;
    color: $color-note;
    font-family: 'Kalam', cursive;
    padding-bottom: 5%;
    
    p {
        font-size: 20px;
    }
    
    .trait {
        width: 300px;
    }
    
    h3 {
        font-size: 25px;
    }
}

.title_la-note {
    text-align: center;
    font-size: 25px;
    font-family: 'Devonshire', cursive;
    padding-top: 3em;
    
    img {
        width: 120px;
        height: 100px;
    }
    
    h2 {
        margin: $margin;
        font-size: 60px;
    }
}

._underline_la-note {
    @include underline_menu;
    
    ._anim-line-la-note {
        font-weight: bold;
        background: linear-gradient(to top, #000000 2px, transparent 2px) no-repeat;
        background-size: 0% 100%;
        transition: background-size 1s;
        font-size: 25px;
        
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.meal_la-note {
    @include meal;
    
    ._price {
        font-weight: bold;
    }
}

.title_la-note-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    img {
        width: 80px;
        height: 60px;
    }
    
    h4 {
        font-size: 45px;
        font-family: 'Devonshire', cursive;
    }
}

@media screen and (max-width: 857px) {
    
    #menu_la-note {
        @include menu_925;
    }
    
    .title_la-note {
        
        img {
            width: 80px;
            height: 60px;
        }
    }

    .meal_la-note {
        margin: $margin;
    }
    
    .title_la-note-bottom {
        
        img {
            width: 80px;
            height: 60px;
        }
        
        h4 {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    
    #menu_la-note {
        @include menu_535;
    }
    
    .title_la-note {
        padding-top: 2em;
        
        img {
            width: 60px;
            height: 40px;
        }
    }
    
    .meal_la-note {
        @include meal_535;
    }
    
    .title_la-note-bottom {
        
        img {
            width: 50px;
            height: 30px;
        }
        
        h4 {
            font-size: 20px;
        }
    }
}
