html {
    margin: 0;
}

#menu_la-note {
    max-width: 851px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fadbd6;
    color: #410d16;
    font-family: 'Kalam', cursive;
    padding-bottom: 3%;
    margin-bottom: 10%;
    margin-top: 5%;

    p {
        font-size: 20px;
    }

    .trait {
        width: 300px;
    }
}

.title_la-note {
    text-align: center;
    font-size: 25px;
    font-family: 'Devonshire', cursive;
    padding-top: 3em;

    img{
        width: 120px;
        height: 100px;
    }

    h1{
        margin: 0;
        font-size: 60px;
    }
}

._underline_la-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ._anim-line-la-note {
        font-weight: normal;
        background: linear-gradient(to top, #000000 2px, transparent 2px) no-repeat;
        background-size: 0% 100%;
        transition: background-size 1s;

        &:hover {
            background-size: 100% 100%;
        }
    }
}


.meal_la-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
    
    ._price{
        font-weight: bold;
    }
}

.title_la-note-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    img {
        width: 80px;
        height: 60px;
    }
    
    h1 {
        font-size: 45px;
        font-family: 'Devonshire', cursive;
    }
}

@media screen and (max-width: 857px) {
    
    #menu_la-note {
        max-width: 500px;
        
        p{
            font-size: 15px;
        }
        
        .trait {
            width: 150px;
        }
    }
    
    .title_la-note {
        font-size: 15px;
        
        img {
            width: 80px;
            height: 60px;
        }
        
        h1 {
            font-size: 40px;
        }
    }
    
    h2 {
        font-size: 25px;
    }
    
    .meal_la-note {
        flex-direction: column;
        text-align: center;
    }
    
    .title_la-note-bottom {
        
        img {
            width: 80px;
            height: 60px;
        }
        
        h1 {
            font-size: 30px;
        }
        
    }
}

@media screen and (max-width: 500px) {
    
    #menu_la-note {
        max-width: 300px;
        margin-bottom: 15%;
        
        p {
            font-size: 12px;
            margin-top: 0;
        }
        
        .trait {
            width: 80px;
        }
    }
    
    .title_la-note {
        font-size: 10px;
        
        img {
            width: 60px;
            height: 40px;
        }
        
        h1 {
            font-size: 30px;
        }
    }
    
    h2 {
        font-size: 15px;
    }
    
    .title_la-note-bottom {
        
        img {
            width: 50px;
            height: 30px;
        }
        
        h1 {
            font-size: 20px;
        }
    }
}
