body {
    margin: $margin;
}

#menu_la-palette {
    @include menus;
    background-color: $background-palette;
    font-family: 'Kalam', cursive;

    .trait {
        width: 300px;
    }
}

.title_la-palette {
    text-align: center;
    font-size: 50px;
    padding: 40px 0;
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, $color-palette 0%, $color-palette-secondary 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._underline_la-palette {
    @include underline_menu;

    ._anim-line-la-palette {
        background: linear-gradient(to top, $color-palette 2px, transparent 2px) no-repeat;
        @include anim-underline;
    }
}

.meal_la-palette {
    @include meal;
    margin: 0 64px;
}

@media #{$media-925} {

    #menu_la-palette {
        @include menu_925;
    }

    .meal_la-palette {
        margin: $margin;
    }
}

@media #{$media-535} {

    #menu_la-palette {
        @include menu_535;
    }

    .meal_la-palette {
        @include meal_535;
    }
}