body {
    margin: $margin;
}

#menu_le-chic {
    @include menus;
    background-color: $background-chic;
    font-family: 'Playfair Display', serif;

    .trait {
        width: 300px;
    }
}

.title_le-chic {
    text-align: center;
    font-size: 30px;
    font-family: 'Croissant One', cursive;

        h2 {
            background: linear-gradient(to right, $color-chic-starter 0%, $color-chic-secondary 75%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 40px 0;
        }
}

._underline_le-chic {
    @include underline_menu;
}

.meal_le-chic {
    @include meal;
    margin: 0 64px;
}

#starter_lechic {
    color: $color-chic-starter;
    padding-bottom: 8%;

    ._anim-line-le-chic {
        background: linear-gradient(to top, $color-chic-starter 2px, transparent 2px) no-repeat;
        @include anim-underline;
    }
}

#dish_lechic {
    color: $color-chic-dish;
    padding-bottom: 8%;

    ._anim-line-le-chic {
        background: linear-gradient(to top, $color-chic-dish 2px, transparent 2px) no-repeat;
        @include anim-underline;
    }
}

#dessert_lechic {
    color: $color-chic-dessert;

    ._anim-line-le-chic {
        background: linear-gradient(to top, $color-chic-dessert 2px, transparent 2px) no-repeat;
        @include anim-underline;
    }
}

@media #{$media-925} {

    #menu_le-chic {
        @include menu_925;
    }

    .meal_le-chic {
        margin: $margin;
    }
}

@media #{$media-535} {

    #menu_le-chic {
        @include menu_535;
    }

    .meal_le-chic{
        @include meal_535;
    }
}
