html {
    margin: 0;
}

#menu_le-delice{
    max-width: 851px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #EDEFEF;
    font-family: 'Kalam', cursive;
    padding-bottom: 3%;
    margin-bottom: 10%;
    margin-top: 5%;

    p {
        font-size: 18px;
    }

    .trait {
        width: 300px;
    }

    h2 {
        font-size: 25px;
        font-weight: normal;
    }
}

.title_le-delice {
    text-align: center;
    font-size: 50px;
    font-family: 'Parisienne', cursive;
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.meal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6em;
}

@media screen and (max-width: 925px) {

    #menu_le-delice{
        max-width: 500px;

        p{
            font-size: 15px;
        }

        .trait {
            width: 150px;
        }

        h2 {
            font-size: 16px;
        }
    }

    .title_le-delice {
        font-size: 15px;

        h1 {
            font-size: 40px;
        }
    }



.meal_le-chic {
    flex-direction: column;
    text-align: center;
}
}

@media screen and (max-width: 535px) {

    #menu_le-delice {
        max-width: 300px;
        margin-bottom: 15%;

        p{
            font-size: 11px;
            margin-top: 0;
        }

        .trait {
            width: 80px;
        }

        h2 {
            font-size: 12px;
        }
    }

    .title_le-delice{
        font-size: 10px;

        h1 {
            font-size: 30px;
        }
    }

}
