body {
    margin: $margin;
}

#menu_le-delice {
    @include menus;
    background-color: $background-delice;
    font-family: 'Kalam', cursive;

    .trait {
        width: 300px;
    }
}

.title_le-delice {
    text-align: center;
    font-size: 45px;
    font-family: 'Parisienne', cursive;
    background: linear-gradient(to right, $color-delice 0%, $color-delice-secondary 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._underline_le-delice {
    @include underline_menu;

    ._anim-line-le-delice {
        background: linear-gradient(to top, $color-delice-secondary 2px, transparent 2px) no-repeat;
        @include anim-underline;
    }
}

.meal_le-delice {
    @include meal;
}

@media #{$media-925} {

    #menu_le-delice{
        @include menu_925;
    }

    .meal_le-delice {
        margin: $margin;
    }
}

@media #{$media-535} {

    #menu_le-delice {
        @include menu_535;
    }

    .meal_le-delice {
        @include meal_535;
    }
}