.mentions_container {

    text-align: center;
    font-family: "Patrick Hand";
    padding-bottom: 4em;

    h1,h2 {
        color: $color-texte;
    }

    p {
        padding: 1rem;
        margin: 0;
    }

}

