$media-925: "only screen and (max-width: 925px)";

@mixin menu_925 {
    max-width: 500px;

    p {
        font-size: 14px;
    }

    .trait {
        width: 150px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 17px;
    }
}

$media-535: "only screen and (max-width: 535px)";

@mixin menu_535 {
    max-width: 300px;
    margin-bottom: 15%;

    p {
        font-size: 12px;
        margin-top: 0;
    }

    .trait {
        width: 80px;
    }

     h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 13px;
    }
}

@mixin meal_535 {
    flex-direction: column;
    text-align: center;
}