/*index*/

$background: #3da087;
$color-texte:#ffce00;
$border-config: #97c67b solid 2px;
$box-shadow: 0px 0px 8px 6px #e8e8e8;
$margin: 0;

/*menu la palette*/

$color-palette: #3d9339;
$color-palette-secondary: #c0fd87;
$background-palette: #FDFFFD;

/*menu le delice*/

$background-delice: #f9f9f9;

/*menu la note*/

$color-note: #410d16;
$background-note: #fadbd6;